@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700');

* {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed';
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 1em;;
  color: #EEE0CB;
  text-align: center;
  line-height: 1.5;
  background-color: #000000;
}

nav,
footer {
  padding: 1% 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
}

.nav-logo {
  left: 25px;
  top: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #000000;
}

.nav-section {
  grid-column: 2 / 4;
}

.nav-element {
  display: inline;
  color: #EEE0CB;
}

a {
  color: #BAA898;
  text-decoration: none;
}

a:hover {
  color: #a4c639;
}



header {
  padding: 12% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#hello {
  font-size: 15vw;
}
#iAm {
  font-size: 10vw;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: left;
}
#grabber {
  grid-column: 1 / 3;
  font-size: 4vw;
}

section {
  min-height: 200px;
  padding: 6% 5%;
}

.bio-text {
  text-align: left;
}



li {
  list-style-type: none;
}

.project {
  width: 75%;
}

.social {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.contact {
  background-color: #2f0b0b;
  color: navajowhite;
}

.technologies {
  margin-left: 12.5%;
  width: 75%;
  border-radius: 10px;
}

.trivia {
  background-color: #2f0b0b;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em;
}

.trivia:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.jobreel {
  background-color: #3e1a1a;
  border-radius: 10px;
  padding: 0.5em;
  line-height: 168%;
  margin: 0.5em;
}

.jobreel:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.spaced-rep {
  background-color:#630000;
  border-radius: 10px;
  padding: 0.5em;
  line-height: 168%;
  margin: 0.5em;
}

.spaced-rep:hover {
  transition: 0.3s;
  transform: scale(1.02);
}

.vkuss {
  background-color:#3e1a1a;
  border-radius: 10px;
  padding: 0.5em;
  line-height: 168%;
  margin: 0.5em;
}

.vkuss:hover {
  transition: 0.3s;
  transform: scale(1.02);
}
@media only screen and (min-width: 600px) {
  .bio-text {
    width: 50%;
  }
}

#projects ul li {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.project-text {
  width:75%;
  margin-left:12.5%;
  text-align: left;
}

.hidden {
  display: none;
}