@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700');

* {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed';
  
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #EEE0CB;
  text-align: center;
  line-height: 1.5;
  background-color: #000000;
}

nav,
footer {
  padding: 1% 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
}

.nav-logo {
  left: 25px;
  top: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #000000;
}

.nav-section {
  grid-column: 2 / 4;
}

.nav-element {
  display: inline;
  color: #EEE0CB;
}

a {
  color: #BAA898;
  text-decoration: none;
}



header {
  padding: 12% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#hello {
  font-size: 15vw;
}
#iAm {
  font-size: 10vw;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: left;
}
#grabber {
  grid-column: 1 / 3;
  font-size: 4vw;
}

section {
  min-height: 200px;
  padding: 6% 5%;
}



li {
  list-style-type: none;
}

.project {
  width: 75%;
}

.social {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}